body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

header {
  background: #111;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#hero {
  background: #c9a86a;
  color: #fff;
  padding: 80px 20px;
  text-align: center;
}

section {
  padding: 40px 20px;
  background: white;
  margin: 20px;
  border-radius: 10px;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
